<!-- <app-guidelines></app-guidelines> -->
<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Authors Guidelines</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">For Authors</h5>
        <!-- <p class="card-text text-dark">Reviewing is the most important step in the publication process. So, the
            knowledge of our reviewers is essential to maintain high standards of Honey Publications. Reviewers should
            have good understanding of the manuscript’s objective and support to evaluate, comment and reviews.</p> -->

        <ul>
            <li>Authors are requested to notarize your manuscript/book and send us a copy of notarized form along with
                your manuscript/book for security reasons.</li>
            <li>Make sure that your manuscript/book is unique and free from plagiarism. </li>
            <li>Submit the complete article with the required figures, tables and references and also a cover letter
                that includes your details and co-author’s details for publishing the article online.</li>
            <li>Quick response of authors to our mails during review process is requested.</li>
            <li>Any article that is not ethical or decent will be rejected with or without the acceptance of author.
            </li>
            <li>The articles/books submitted to Honey Publications should not be published in any other journals and
                copyright holder permissions must be obtained when any tables, text, illustrations are used.</li>
            <li>We welcome the manuscripts/books that are submitted online or mailed an attachment to the respective
                editor mail id.</li>
        </ul>
        <h6 class="ml-4 card-title">The list of types of manuscripts we endeavour to publish is given below</h6>
        <ul class="ml-4">
            <li>Editorial</li>
            <li>Research</li>
            <li>Review</li>
            <li>Case Report</li>
            <li>Others</li>
        </ul>
        <h5 class="card-title">Plagiarism Policy</h5>
        <ul>
            <li>Presenting others work without proper acknowledgement, as though it was one’s own is called plagiarism.
                Plagiarism is a form of fraud. It is nothing but standing on others shoulders and not giving credit to
                them.</li>
            <li>Honey Publications acts strict in the case of plagiarism during or after the publication.</li>
            <li>If our team, editors or reviewers find any plagiarism, the authors should provide the proper citations.</li>
            <li>We check for plagiarism before starting review process of any particular manuscript.</li>
            <li>If we detect plagiarism &lt;5%, we provide manuscript ID and send back for revision. The manuscript is sent back without any ID if we detect plagiarism between &lt;5% to &lt;30%. And if more than 30% is plagiarised, the manuscript will be rejected without the review process and the authors are informed to revise and resubmit the article.</li>
            <li>If readers come across any plagiarism, they are requested to provide the details such as journal name, manuscript title, year of publication or any other information to our team.</li>
        </ul>
        <h6 class="ml-4 card-title text-danger">If plagiarism is detected in a published article</h6>
        <ul>
            <li>We evaluate the extent of plagiarised content.</li>
            <li>We seek the feedback from our Editorial Board members.</li>
            <li>The respective author will be contacted with the related evidence and asked for response.</li>
            <li>If the authors are convicted of plagiarism, Honey Publications renounce the paper officially.</li>
            <li>Any other publications of the authors will not be considered for 5 years.</li>
            <li>The authors are asked to write a letter of apology admitting the act of plagiarism to the original author of plagiarised paper.</li>
            <li>The charges of plagiarism will be confidential and are known only to the people involved in review process.</li>
        </ul>
    </div>
</div>