<div class="row-bg-overlay">

    <div class="text-center text-dark">Centered</div>
    
</div>
<div style="background-color:#003866;width: 100%;height:6em;" class=" text-light">
    <ul id="menu" class="row text-center" > 
        <li class="ml-3">Author's</li>
        <li class="ml-3">editor's</li>
        <li class="ml-3">Reviwer's</li>
        <li class="ml-3">Privacy policy</li>
    </ul>
</div>
<div class="row">
    <div class="gdl-ban-ma ml-4 mt-4 rounded">
        <div class="gdl-ban text-center">Menu</div>
      <p class="text-dark">  The OpenJS Node.js Services Developer certification is designed for anyone looking to demonstrate competence in creating RESTful Node.js Servers and Services (or Microservices) with a particular emphasis on security practices.</p>
    </div>
    <div class="gdl-ban-ma1 ml-2 mt-4 roundeds">
        <div class="gdl-ban text-center">Menu</div>
   <div class="text-dark">
        <ul class="list-side-menu ">
                <li>Notification 1</li>
                <li>Notification 2</li>
                <li>Notification 3</li>
                <li>Notification 4</li>
                <li>Notification 5</li>
            </ul>
   </div>
    </div>
</div>


<pre>


</pre>