.bg-cont{
    background: linear-gradient(rgba(17, 17, 17, 0.6), rgba(36, 35, 35, 0.4));
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
