<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Contact Us</h2>
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">Editors & Associate Editors</h5> -->
        <p class="card-text text-dark">Feel free to contact us at any time through the below instant messaging program
            and
            contact details.</p>
        <form class="example-form">
            <!-- <mat-form-field class="example-full-width ">
                <input matInput placeholder="Name" value="">
            </mat-form-field> -->
            <div>
                <mat-form-field class="ml-2" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Your full Name">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>

                <mat-form-field class="ml-2" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="your email to contact">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>


            <div>
                <mat-form-field class="ml-2" appearance="outline">
                    <mat-label>Pnone Number</mat-label>
                    <input matInput placeholder="your Number to contact">
                    <mat-icon matSuffix>phone_iphone</mat-icon>
                </mat-form-field>

                <mat-form-field class="ml-2" appearance="outline">
                    <mat-label>Univercity</mat-label>
                    <input matInput placeholder="your College">
                    <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="ml-2" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="your Address"></textarea>
                    <mat-icon matSuffix>house</mat-icon>
                </mat-form-field>

                <mat-form-field class="ml-2" appearance="outline">
                    <mat-label>Queries</mat-label>
                    <textarea matInput placeholder="Any Queries"></textarea>
                    <mat-icon matSuffix>question_answer</mat-icon>
                </mat-form-field>
            </div>

            <div class="text-center">
                <button class="text-center" mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<pre>





    </pre>