<div class="ml-1 mt-5 col-md-6 justify-content-center align-items-center ">
    <div class="card">
        <h5 class="card-header bg-info">Contact Us</h5>
        <div class="card-body bg-cont ">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">Feel free to contact us at any time through the below instant messaging program and
                contact details.</p>

            <form class="example-form">
                <mat-form-field class="example-full-width ">
                    <input matInput placeholder="Name" value="">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email ID">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone Number">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Univercity">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Address"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Queries"></textarea>
                </mat-form-field>
                <div class="text-center">
                    <button class="text-center" mat-raised-button color="primary">Submit</button>
                </div>
            </form>


        </div>
    </div>
</div>
<pre>





    </pre>