
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: black;
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          color:black;
       }
    }
 }

  .card{
    background-color: rgba(255, 255, 255, 0.658);
} 