.bg{
    background: linear-gradient(rgba(245, 242, 242, 0.61), rgba(238, 238, 238, 0.534)),url("/assets/image-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100%;
    // overflow: hidden;
    // overflow-x:hidden; 
}

// ::-webkit-scrollbar{
//     width: 0px;
//     background: transparent;
// }
.bg-color{
    background-color: rgba(245, 245, 245, 0.501);
}

.ml-color{
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: orange;
}
.text-color{
    color : rgb(8, 8, 8);
    font-size: 1.3em;
}