
    <div class="mt-5 row h-100 justify-content-center align-items-center p-5 ">
        <div class="row col-md-12 col-sm-6 col-md-4 mat-elevation-z8 p-0 ml-color rounded  ">
                <h2  class="ml-3 ">Our Moto</h2>   
            <div class="text-center text-color p-3 ">           
                Honey is an open access Publication established like a hive of articles and books. As honey
                bees collect honey from different flowers and make a hive, our Honey Publications team
                collect articles from many authors and publish them all at one place. Our main motto is to
                create a medium between authors and knowledge seekers for sharing the knowledge in the
                form of articles and books. We believe that wealth shared with others may decrease but,
                knowledge shared will never. Knowledge sharing enlightens many brains. Honey
                Publications is a mixture of different journals. Knowledge seekers/readers can have the free
                access of quality edited articles and books published online by the approval of our scholarly
                editors. We welcome all the authors to share their knowledge. Besides scientific and
                technical journals, we also publish stories and novels in three different languages.
                    <b>English
                        Hindi
                        Telugu</b>
                Our team try hard to publish the journal content as soon as possible. We perform peer
                review process and wait for our scholarly editor’s acceptance before publishing.
            </div>
        </div>
    </div>
