<!-- <app-guidelines></app-guidelines> -->
<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Authors Guidelines</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Processing Fee</h5>
        <p class="card-text text-dark">Honey open access publication provides easy access of all its publications to all
            the readers and knowledge seekers. Anyone can easily read or download the articles without any payment. In
            order to publish the high quality journals, each article undergoes many steps like editing, proofreading,
            plagiarism check, quality check, web maintenance and so on. Our team works on a banal process to give the
            quality output.</p>
        <p>
            In order to justify the work that involved before every article is published, we charge Article Processing
            Fee (APF). We cover the cost of web hosting, database, CMS, archiving, peer review, online repository,
            internet, electricity and employees’ salaries. The only funds we receive for all these are the publication
            fee as we don’t get any funds from anywhere else. So, the publication fee will be paid by the authors and we
            give the conformation once we receive the payment.
        </p>

        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Countries</th>
                    <th scope="col">Research (RA)</th>
                    <th scope="col">Case Report (CR)</th>
                    <th scope="col">Review (RW)</th>
                    <th scope="col">Mini Review (MRW)</th>
                    <th scope="col">Short Communication (SC)</th>
                    <th scope="col">Opinion (OP)</th>
                    <th scope="col">Others</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">High income</th>	 						
                    <td>$300</td>
                    <td>$270</td>
                    <td>$240</td>
                    <td>$210</td>
                    <td>$180</td>
                    <td>$150</td>
                    <td>$120</td>
                  </tr>
                  <tr>
                    <th scope="row">Middle income</th>						
                    <td>$200</td>
                    <td>$170</td>
                    <td>$150</td>
                    <td>$130</td>
                    <td>$110</td>
                    <td>$90</td>
                    <td>$70</td>
                  </tr>
                  <tr>
                    <th scope="row">Low income</th>				
                    <td>$150</td>
                    <td>$120</td>
                    <td>$100</td>
                    <td>$80</td>
                    <td>$60</td>
                    <td>$40</td>
                    <td>$20</td>
                  </tr>
                </tbody>
              </table>
    </div>
</div>