<!-- <app-guidelines></app-guidelines> -->
<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Auhtors Guidelines</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Peer Review Process</h5>
        <p class="card-text text-dark">Peer review is a process to appraise the quality of a manuscript before it is
            published. It is a positive process. When a manuscript is sent to a journal, the editors check if it meets
            the criterion of submission and is sent to the review team of that particular journal to assess the quality,
            originality and significance of that manuscript. Peer review process provides valuable feedback so that the
            researchers can revise and improve their paper quality before publishing. Out of three main types of peer
            review, Honey team uses the <b>double-blind</b> process where the reviewers don’t know the author and the
            author
            don’t know the reviewer of their article.</p>
        <p> After peer reviewed, articles become</p>
        <ul>
            <li><b>More robust</b>:Peer reviewers may figure out the gaps in the paper that requires more explanation or
                additional experiments.</li>
            <li><b>Easier to read:</b>If paper is difficult to understand, reviewers can suggest changes.</li>
            <li><b>More useful:</b>Peer reviewers also consider the importance of the paper to others in the same field.</li>
        </ul>
    </div>
</div>