.gdl-ban-ma{
    height: 40%;
    background: rgb(255, 255, 255);
    width: 90%;
}
.gdl-ban-ma1{
    height: 40%;
    background: rgb(255, 255, 255);
    width: 30%;
    height: 20em;
}

.gdl-ban{
background: rgb(95, 118, 221);
height: 4em;
width: 100%;
}