<!-- <app-guidelines></app-guidelines> -->
<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Manuscript Guidelines</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Manuscript Guidelines</h5>
        <p class="card-text text-dark">We welcome manuscripts that are either submitted online or mailed to the
            concerned editor mail id. The accepted manuscripts become the Honey Publications undeniable property. Along
            with manuscript, we request our authors to send a cover letter with your details and co-author’s details.
        </p>
        <h5 class="card-title">Types of Manuscripts :</h5>
        <ul>
            <li>Editorial</li>
            <li>Research</li>
            <li>Review</li>
            <li>Case Report </li>
            <li>Others</li>
        </ul>
        <div>
            <h5 class="card-title">Manuscript Organization</h5>
            <mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'">
                <mat-tab label="Cover Page">
                    <div>
                        <div>
                            <h6 class="ml-4 card-title">Running Head</h6>
                            <ul>
                                <li><b>Characters</b>: Up to 50</li>
                                <li><b>Font</b>: Calibri</li>
                                <li><b>Size</b>: 14</li>
                                <li><b>Alignment</b>: Left, Running head should be added in the header along with the
                                    page
                                    numbers.</li>
                                <li><b>Type of Article:</b>: Research/ Case Report/ Review/ Opinion/ Short
                                    Communication/
                                    Mini Review/ Editorial.</li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="ml-4 card-title">Title</h6>
                            <ul>
                                <li><b>Title Words</b>: Up to 20</li>
                                <li><b>Font</b>: Calibri</li>
                                <li><b>Size</b>: 16</li>
                                <li><b>Alignment</b>: Centre; Title should be in bold and in initial caps.</li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="ml-4 card-title">Authors</h6>
                            <p style="margin-left: 2.5em;">List all the author names like Author1, Author2 and Author3
                            </p>
                            <ol style="margin-left: 1em;">
                                <li>Author Department, University, Country</li>
                                <li>Author Department, University, Country</li>
                                <li>Author Department, University, Country</li>
                            </ol>
                        </div>
                        <div>
                            <h6 class="ml-4 card-title">Corresponding Author</h6>
                            <p style="margin-left: 2.5em;">Author name, Affiliation, Address, City, State, Country, Tel:
                                ...; Fax: …; E-mail:</p>

                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Manuscript">
                    <div>
                        <div>
                            <h6 class="ml-4 card-title">Title</h6>
                            <ul>
                                <li><b>Words</b>: Up to 20</li>
                                <li><b>Font</b>: Calibri</li>
                                <li><b>Size</b>: 16</li>
                                <li><b>Alignment</b>:Centre (Title should be in Bold and in initial caps).</li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="ml-4 card-title">Headings</h6>
                            <ol>
                                <li><b>Abstract</b>
                                    <div>
                                        <ul>
                                            <li>Words: Up to 300</li>
                                            <li>Font: Calibri</li>
                                            <li>Size: 12</li>
                                            <li>Abstract should incorporate a brief content of the article.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><b>Keywords</b>
                                    <div>
                                        <ul>
                                            <li>Words: Up to 10</li>
                                            <li>Font: Calibri</li>
                                            <li>Size: 12</li>
                                            <li>The major keywords used in the article should be mentioned here.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><b>Abbreviations</b>
                                    <div>
                                        <ul>
                                            <li>Font: Calibri</li>
                                            <li>Size: 12</li>
                                            <li>If there are any abbreviations in the article, they should be mentioned
                                                here.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><b>Introduction</b>
                                    <div>
                                        <ul>
                                            <li>The goal of introduction is to convey basic information to the readers.
                                                Well return introduction set the tone of the paper and catch the
                                                reader’s interest.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><b>Discussion</b>
                                    <div>
                                        <ul>
                                            <li>Font: Calibri</li>
                                            <li>Size: 12</li>
                                            <li>Discussion must depict and portray the significan/ce of the findings.
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><b>Conclusion</b>
                                    <div>
                                        <ul>
                                            <li>Font: Calibri</li>
                                            <li>Size: 12</li>
                                            <li>An effective conclusion should provide termination for a paper, leaving
                                                the reader feeling satisfied that the concepts have been fully
                                                explained.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><b>Acknowledgement</b>
                                    <div>
                                        <ul>
                                            <li>Font: Calibri</li>
                                            <li>Size: 12</li>
                                            <li>Provide the list of individuals who contributed in the work and grant
                                                details.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><b>Conflict of Interest</b>
                                    <div>
                                        <ul>
                                            <li>Font: Calibri</li>
                                            <li>Size: 12</li>
                                            <li>Declare if any financial interest or any conflict of interest exists.
                                            </li>
                                            <li><b>Note*</b>: If there are any sub headings in the body text,
                                                sub-categorize them accordingly under the heading in which they fall.
                                            </li>
                                            <li>For Example:
                                                <ul>
                                                    <li>1. Heading</li>
                                                    <li style="margin-left: 1em;">1.1 Sub Heading </li>
                                                    <li style="margin-left: 2em;"> 1.1.1 Sub-sub-heading</li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h6 class="ml-4 card-title">References</h6>
                            <ul>
                                <li><b>Font</b>: Calibri</li>
                                <li><b>Size</b>: 12</li>
                                <li>All references should be cited in the article in a consecutive order. List here all
                                    the references in numbered order of citation in the text. List all authors if less
                                    than six. If more than five authors, list the first five followed by “et al.” </li>
                                <li><b>Note*</b>:Provide the link for the listed references.</li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="ml-4 card-title">Figures</h6>
                            <ul>
                                <li>Figures should be clear with high resolution.</li>
                                <li><b>Figure Legends</b>: Description of figures/images.</li>
                                <li><b>Size</b>: 12</li>
                                <li><b>Font</b>: Calibri</li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="ml-4 card-title">Tables</h6>
                            <ul>
                                <li><b>Font</b>: Calibri</li>
                                <li><b>Size</b>: 12</li>
                                <li><b>Alignment</b>:Centre</li>
                                <li><b>Table</b>:Brief descriptive title of the table</li>
                                <li>
                                    <table class="table table-bordered">
                                            <caption><b>Table Abbreviations:</b> Give here full form of all abbreviations used in the table. Give the full form even if it has bees explained in the text.</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First</th>
                                                <th scope="col">Last</th>
                                                <th scope="col">Handle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            
                                            <tr>
                                                <th scope="row">3</th>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>

                            </ul>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>