<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Guidelines</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Editors & Associate Editors</h5>
        <p class="card-text text-dark">Editors and Associate Editor plays a key role in reviewing and editing the manuscripts.
            They are responsible for quality, consistency and impact of our journals. Honey Publication’s editors stick
            to the <span class="text-dark">Committee of Publication Ethics (COPE)</span> guidelines in order to address the
            ethical issues that may
            arise.</p>
        <ul>
            <li>Editors perform the review process which includes the quality parameters of the journal</li>
            <li>Any content published in our journals should be approved by our editors</li>
            <li>Any article/book will be approved by the editors only if it reaches the quality, relevance, validity
                and clarity.</li>
            <li>Editors should ensure that the requirements of readers and authors are met through constant endeavours.</li>
            <li>The editors are requested to review the content in privacy as the submitted material should be kept confidential.</li>
            <li>Editors should be available to publish the content on corrections, clarifications, retractions and apologies if needed.</li>
            <li>Editors should ensure that all the published articles are properly and permanently archived in database.</li>
            <li>Editors must guarantee that the publishers dwell by the laws of intellectual property rights and not violate them by any means</li>
            <li>Editors support the researchers in educating them about good practises in publication ethics.</li>
        </ul>
        <h5 class="card-title">Join our Editor Board</h5>
        <p>Coming soon</p>
    </div>
</div>