<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Guidelines</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Privacy Policy</h5>
        <p class="card-text text-dark">Honey Publications team collect personal information like name and mail id of the
            scholarly people all over the world. As we publish articles and spread knowledge, we collect this
            information to request articles from them. This information helps us to form our editorial board and get
            articles. The collected information will be confidential. Any information will be publicly displayed only
            with their permission. We follow double blind process during peer review, where our editors and authors will
            not know about each other’s information. We requested authors to notarize their article/ book before
            submitting to us in order to provide security to their work.</p>
    </div>
</div>