<div class="">
    <div class="mt-5  col-md-12 col-sm-6 col-md-4 card rounded ">
        <div>
            <h2>Journals</h2>
            <p>
                All the journals in Honey Publications are open access. Our articles/books undergo peer review before
                they are published. Honey Publications keep updating our journals to improve the content and to satisfy
                our readers. Our journals include Engineering, science, medicine, technology, fashion and so on.
                We publish any fictional stories or books and novels in three languages. Our journal’s quality will be
                assured by our reputed editors and peer review process. Any manuscript/ book submitted will be
                published in the relevant language so; authors are requested to submit the manuscripts/books in the
                respective language.
            </p>
        </div>
        <div class="row m-0 ">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title> Journal of Engineering</mat-card-title>
                    <mat-card-subtitle>JOE</mat-card-subtitle>
                </mat-card-header>
                <img style="height: 200px;" mat-card-image src="/assets/engineering.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Honey Publications welcome the students, professors, scholars with any engineering background to
                        submit your articles or books. Any submission regarding Computer Science, Mechanical,
                        Electrical,
                        Electronic, Civil engineering will be accepted in our journal. JOE aims for high quality and
                        quick
                        publications. The motto of our journal is to provide the future generations in engineering
                        background
                        to gain vast knowledge in their desired field. This journal accepts various manuscripts like
                        research,
                        review, mini review, case reports, short communications, opinions, perceptions and so on.
                    </p>
                </mat-card-content>
                <mat-card-actions class="text-right">
                    <!-- <button class="btn btn-primary" mat-button (click)="openDialog(1)">View</button> -->
                    <!-- <button mat-button>SHARE</button> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#engineering">
                       Details
                    </button>

                    <!-- Modal -->
                    <div class="modal fade text-dark bg-dark-t" id="engineering" tabindex="-1" role="dialog"
                        aria-labelledby="engineering" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title Text Dark" id="engineeringLabel">Engineering</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-dark text-left">
                                   <p>
                                        {{json.default.Journalsdata.engineering.about}}
                                   </p>                                
                                   <ol style="overflow: scroll;  list-style-type: number">
                                        <li *ngFor="let clas of json.default.Journalsdata.engineering.classification">
                                          
                                                <span>{{clas}}</span> {{clas[key]}}
                                        </li>
                                </ol>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>

            <mat-card class=" example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-poetry"></div>
                    <mat-card-title> Journal of Poetry</mat-card-title>
                    <mat-card-subtitle>JOP</mat-card-subtitle>
                </mat-card-header>
                <img style="height: 200px;" mat-card-image src="/assets/poetry.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Honey Publications welcome the students, professors, scholars with any engineering background
                        to submit your articles or books. Any submission regarding Computer Science, Mechanical,
                        Electrical, Electronic, Civil engineering will be accepted in our journal. JOE aims for high
                        quality and quick publications. The motto of our journal is to provide the future generations in
                        engineering background to gain vast knowledge in their desired field. This journal accepts
                        various manuscripts like research, review, mini review, case reports, short communications,
                        opinions, perceptions and so on.
                    </p>
                </mat-card-content>
                <mat-card-actions class="text-right">
                    <!-- <button class="btn btn-primary" mat-button (click)="openDialog(2)">View</button> -->
                    <!-- <button mat-button>SHARE</button> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#poetry">
                            Details
                         </button>
     
                         <!-- Modal -->
                         <div class="modal fade text-dark bg-dark-t" id="poetry" tabindex="-1" role="dialog"
                             aria-labelledby="poetry" aria-hidden="true">
                             <div class="modal-dialog modal-dialog-centered" role="document">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h5 class="modal-title Text Dark" id="poetryLabel">Poetry</h5>
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                     <div class="modal-body text-dark text-left">
                                        <p>
                                             {{json.default.Journalsdata.poetry.about}}
                                        </p>                                
                                        <ol style="overflow: scroll;  list-style-type: number">
                                             <li *ngFor="let clas of json.default.Journalsdata.poetry.classification">
                                               
                                                     <span>{{clas}}</span> {{clas[key]}}
                                             </li>
                                     </ol>
     
                                     </div>
                                     <div class="modal-footer">
                                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                         <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                     </div>
                                 </div>
                             </div>
                         </div>
                </mat-card-actions>
            </mat-card>

            <mat-card class=" example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-nature"></div>
                    <mat-card-title> Journal of Natural History</mat-card-title>
                    <mat-card-subtitle>JONH</mat-card-subtitle>
                </mat-card-header>
                <img style="height: 200px;" mat-card-image src="/assets/nature.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Modern generation have changed the days and lives from being explored to nature to prisoning
                        ourselves in enclosed rooms. Olden day’s people comparatively lead peaceful life than the modern
                        generation as there was nature involved in their daily routine. Though days have changed, there
                        are lot of people still loving nature. Many naturalists perform research on nature and many
                        readers show interest in natural history.
                    </p>
                </mat-card-content>
                <mat-card-actions class="text-right">
                    <!-- <button class="btn btn-primary" mat-button (click)="openDialog(3)">View</button> -->
                    <!-- <button mat-button>SHARE</button> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NatHis">
                            Details
                         </button>
     
                         <!-- Modal -->
                         <div class="modal fade text-dark bg-dark-t" id="NatHis" tabindex="-1" role="dialog"
                             aria-labelledby="NatHis" aria-hidden="true">
                             <div class="modal-dialog modal-dialog-centered" role="document">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h5 class="modal-title Text Dark" id="NatHisLabel">Natural History</h5>
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                     <div class="modal-body text-dark text-left">
                                        <p>
                                             {{json.default.Journalsdata.NatHis.about}}
                                        </p>                                
                                        <ol style="overflow: scroll;  list-style-type: number">
                                             <li *ngFor="let clas of json.default.Journalsdata.NatHis.classification">
                                               
                                                     <span>{{clas}}</span> {{clas[key]}}
                                             </li>
                                     </ol>
     
                                     </div>
                                     <div class="modal-footer">
                                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                         <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                     </div>
                                 </div>
                             </div>
                         </div>
                </mat-card-actions>
            </mat-card>

            <mat-card class=" example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-medicine"></div>
                    <mat-card-title> Journal of Medicine </mat-card-title>
                    <mat-card-subtitle>JOM</mat-card-subtitle>
                </mat-card-header>
                <img style="height: 200px;" mat-card-image src="/assets/medicine.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Journal of Medical Science is an open access journal which is inhabited with all the medical
                        specializations in order to create a common platform for medical science topics to make it easy
                        for all the medical knowledge seekers and to create impact about medical researches. This is
                        peer reviewed by our scholarly Editorial Board members. JOMS welcomes all the articles/books
                        related to any medical specialization.
                    </p>
                </mat-card-content>
                <mat-card-actions class="text-right">
                    <!-- <button class="btn btn-primary" mat-button (click)="openDialog(4)">View</button> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#medicine">
                            Details
                         </button>
     
                         <!-- Modal -->
                         <div class="modal fade text-dark bg-dark-t" id="medicine" tabindex="-1" role="dialog"
                             aria-labelledby="medicine" aria-hidden="true">
                             <div class="modal-dialog modal-dialog-centered" role="document">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h5 class="modal-title Text Dark" id="medicineLabel">Engineering</h5>
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                     <div class="modal-body text-dark text-left">
                                        <p>
                                             {{json.default.Journalsdata.medicine.about}}
                                        </p>                                
                                        <ol style="overflow: scroll;  list-style-type: number">
                                             <li *ngFor="let clas of json.default.Journalsdata.medicine.classification">
                                               
                                                     <span>{{clas}}</span> {{clas[key]}}
                                             </li>
                                     </ol>
     
                                     </div>
                                     <div class="modal-footer">
                                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                         <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                     </div>
                                 </div>
                             </div>
                         </div>

                </mat-card-actions>
            </mat-card>


        </div>

    </div>
</div>