
.example-card {
  overflow: auto;
    max-width: 350px;
  }
  .card{
    background-color: rgba(255, 255, 255, 0.658);
} 
.bg-dark-t{
  background-color: rgba(0, 0, 0, 0.671);
}
  
  .example-header-image {
    background-image: url("/assets/engineering.jpg");
    background-size: cover;
  }
  .example-header-image-poetry {
    background-image: url("/assets/poetry.jpg");
    background-size: cover;
  }
  .example-header-image-nature {
    background-image: url("/assets/nature.jpg");
    background-size: cover;
  }
 
  .example-header-image-medicine {
    background-image: url("/assets/medicine.jpg");
    background-size: cover;
  }
  mat-card{
    margin: 25px 25px 25px 25px;
  }