/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~src/assets/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: segoe ui, "Helvetica Neue", sans-serif; }
.bg{
    background: linear-gradient(rgba(232, 241, 95, 0.753), rgba(232, 241, 95, 0.753)),url("/assets/image-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(47, 123, 158);
    height: 100%;
    // overflow: hidden;
    overflow-x:hidden; 
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}