<div class="m-4 card rounded">
    <div class="card-header">
        <h2>Guidelines</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Reviewers</h5>
        <p class="card-text text-dark">Reviewing is the most important step in the publication process. So, the
            knowledge of our reviewers is essential to maintain high standards of Honey Publications. Reviewers should
            have good understanding of the manuscript’s objective and support to evaluate, comment and reviews.</p>

        <ul>
            <li>Reviewers receive the manuscripts only after they accept our invitation for being our reviewers.</li>
            <li>The manuscripts we submit should be confidential and should not be used for advantage or disadvantage
                of any other person or organization.</li>
            <li>The reviewers should ensure that they share us the Janine personal and professional information.</li>
            <li>The reviewers should be confident that they review the manuscript in the agreed timeframe and should
                accept the manuscript only when they could spend time on it.</li>
            <li>The reviewers ensure that there is no intellectual transverse in the review process but the outcome
                relies purely on merit base.</li>
            </ul>
        <h5 class="card-title">Join our Editor Board</h5>
        <p>Coming soon</p>
    </div>
</div>